.hero {
  position: relative;
  height: 100vh;

  &__img {
    position: absolute;
    top: 10vh;
    left: 37vw;
    max-width: 1080px;
    width: 100%;
    z-index: -1;
    will-change: transform;
  }

  &__title {
    position: absolute;
    bottom: 20%;
    margin: 0;
    width: min-content;
    font-size: 144px;
    font-family: var(--font-family);
    line-height: 1;
    text-transform: uppercase;
    will-change: transform;
  }
}
