<section class="portfolio">
  <div class="container">
    <ul class="portfolio__list list-reset">
      <li class="portfolio__item" data-speed=".9">
        <img class="portfolio__img" src="../img/1.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!</h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam a
            voluptatem voluptatum?</p>
        </div>
      </li>
      <li class="portfolio__item portfolio__item--reverse" data-speed="1.2">
        <img class="portfolio__img" src="../img/2.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!
          </h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam
            a
            voluptatem voluptatum?</p>
        </div>
      </li>
      <li class="portfolio__item" data-speed=".9">
        <img class="portfolio__img" src="../img/3.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!
          </h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam
            a
            voluptatem voluptatum?</p>
        </div>
      </li>
      <li class="portfolio__item portfolio__item--reverse" data-speed="1.2">
        <img class="portfolio__img" src="../img/4.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!
          </h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam
            a
            voluptatem voluptatum?</p>
        </div>
      </li>
      <li class="portfolio__item" data-speed=".9">
        <img class="portfolio__img" src="../img/5.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!
          </h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam
            a
            voluptatem voluptatum?</p>
        </div>
      </li>
      <li class="portfolio__item portfolio__item--reverse" data-speed="1.2">
        <img class="portfolio__img" src="../img/6.jpg" alt="">
        <div class="portfolio__content">
          <h2 class="portfolio__title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae, alias!
          </h2>
          <p class="portfolio__descr">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam laboriosam
            a
            voluptatem voluptatum?</p>
        </div>
      </li>
    </ul>
  </div>
</section>
