:root {
  // base
  --font-family: "Outfit", sans-serif;
  --second-family: "Raleway", sans-serif;
  --content-width: 1300px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --main-color: #f4efec;
  --text-color: #cdc6c3;
}
